
.dots {
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: repeat(3, 2rem);
    height: 6rem;
    width: 6rem;
}

.flipped.dots {
    transform: rotate(45deg);
}

.big.dots {
    grid-template-columns: repeat(4, 2rem);
    grid-template-rows: repeat(4, 2rem);
    height: 8rem;
    width: 8rem;
    transform: rotate(135deg);
}

.dots .dot {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin: 3px;
}