
.dots {
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: repeat(3, 2rem);
    height: 6rem;
    width: 6rem;
}

.dots .dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
}