

.numberSelect {
    position: relative;
}

.numberSelect_value {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 3;
}

.numberSelect_increment {
    border-radius: 100%;
    position: absolute;
    z-index: 2;
}

.numberSelect_blur {
    position: absolute;
    opacity: .5;
    /*background: radial-gradient(#1E90FFFF, #1E90FFFF, #1E90FF00, #1E90FF00, #1E90FF00);*/
    z-index: 1;
}