

.numberSelect {
    position: relative;
    z-index: 2;
}

.numberSelect_editing {
}

.numberSelect_doneClosing {
    z-index: 1;
}

.numberSelect_value {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 2;
}

.numberSelect_input {
    opacity: 1;
    z-index: 1;
    transition: opacity 200ms linear;
}

.numberSelect_input-hidden {
    opacity: 0;
    pointer-events: none;
}

.numberSelect_increment {
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    transition: top 200ms linear, bottom 200ms linear;
}

.numberSelect_blur {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    opacity: 1;
    transition: opacity 200ms linear;
}

.numberSelect_input-hidden .numberSelect_blur {
    opacity: 0;
}

.numberSelect_add svg path {
    translate: 0 -2rem;
}

.numberSelect_subtract svg path {
    translate: 0 2rem;
}
