
button {
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  -webkit-tap-highlight-color: transparent;
}

.App.blue {
  --contrast: #adc3ff;
  --main: #001c6d;
}

.App.red {
  --contrast: #ffb9bd;
  --main: #680009;
}

.App.pretty {
  --contrast: #d2b9ff;
  --main: #31008e;
}

.App.blue.lightMode {
  --main: #adc3ff;
  --contrast: #001c6d;
}

.App.red.lightMode {
  --main: #ffb9bd;
  --contrast: #680009;
}

.App.pretty.lightMode {
  --main: #d2b9ff;
  --contrast: #31008e;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;background-color: var(--main);
  color: var(--contrast);
  transition: background-color 500ms;

  --height: min(840px, 100vh);
  --width: min(450px, 100vw);
  height: var(--height);
  width: var(--width);

  overflow: hidden;
}

.contentWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settingsContainer,
.grevlingContainer {
  transition: opacity 250ms linear;
}

.menuContainer.hidden,
.grevlingContainer.hidden {
  opacity: 0;
  pointer-events: none;
}

.grevling {
  --grevlingSize: calc(min(var(--height), var(--width)) * .8);
  height: var(--grevlingSize);
  width: var(--grevlingSize);
}

.radioContainer {
  -webkit-transition: height 250ms linear, opacity 250ms linear;
  -moz-transition: height 250ms linear, opacity 250ms linear;
  -o-transition: height 250ms linear, opacity 250ms linear;
  transition: height 250ms linear, opacity 250ms linear;

  overflow: hidden;

  height: 215px;
  opacity: 1;
}

.sunMoonContainer {
  margin-left: 8px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer.hidden {
  height: 0;
  opacity: 0;
}

.xburgerMenu {
  padding-left: 60px;
}

.checkBox,
.radioButton {
  margin: 10px;
}

